<div class="onepiece">
  <div class="row col-lg-12 justify-content-center">
    <div class=" prod  col-lg-4">
      <div ng-repeat="item in products" class="container">
        <img class="img-fluid" src="assets/img/{{src}}" alt="">
        <p>name</p>
        <p>{{descript}}</p>
        <p>{{ref}}</p>
        <button type="button" class="btn btn-info">Ajouter au panier</button>
      </div>
    </div>
  <div class=" prod col-lg-4">
    <div class="container">
      <img class="img-fluid" src="assets/img/{{src}}" alt="">
      <p>{{name}}</p>
      <p>{{descript}}</p>
      <p>{{ref}}</p>
      <button type="button" class="btn btn-info">Ajouter au panier</button>
    </div>
  </div>
<div class=" prod col-lg-4">
  <div class="container">
    <img class="img-fluid" src="assets/img/{{src}}" alt="">
    <p>{{name}}</p>
    <p>{{descript}}</p>
    <p>{{ref}}</p>
    <button type="button" class="btn btn-info">Ajouter au panier</button>
  </div>
  </div>
</div>
<div class="row col-lg-12 justify-content-center">
  <div class=" prod col-lg-4">
    <div class="container">
      <img class="img-fluid" src="assets/img/{{src}}" alt="">
      <p>{{name}}</p>
      <p>{{descript}}</p>
      <p>{{ref}}</p>
      <button type="button" class="btn btn-info">Ajouter au panier</button>
    </div>
  </div>
  <div class=" prod col-lg-4">
    <div class="container">
      <img class="img-fluid" src="assets/img/{{src}}" alt="">
      <p>{{name}}</p>
      <p>{{descript}}</p>
      <p>{{ref}}</p>
      <button type="button" class="btn btn-info">Ajouter au panier</button>
    </div>
  </div>
  <div class=" prod col-lg-4">
    <div class="container">
      <img class="img-fluid" src="assets/img/{{src}}" alt="">
      <p>{{name}}</p>
      <p>{{descript}}</p>
      <p>{{ref}}</p>
      <button type="button" class="btn btn-info">Ajouter au panier</button>
    </div>
  </div>
</div>
</div>
